* {}

.btn {
     background-color: whitesmoke;
     padding: 5px;
     width: 30px;
     height: 30px;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: large;
     margin-right: 10px;

     &.red {
          background:  #ff9999;
          color: rgb(40, 7, 71);
     }
     &.reset {
          background:  #9c1f1f;
          color: rgb(255, 255, 255);
     }

     &.blue {
          background:#0000ff;
          color: white;

     }

     &.orange {
          background: rgb(231, 155, 14);
          color: rgb(18, 1, 1);
     }

     .grey {
          background: grey;
          color: white;
     }

     .green {
          background:  #00ff00;
          color: black;
     }
}

.catetus {

     display: flex;

     .catetusbt {
          // flexbox
          margin-left: 25px;
          display: flex;
         

          flex-direction: row;
       
          justify-content: flex-start;
      


     }



}

.wrap {
     background-color: whitesmoke;
     border: 1px solid black;
     border-radius: 5px;
     padding: 10px;
     margin: 10px;

     display: flexbox;
     flex-wrap: nowrap;
     flex-direction: row;
}

.reset {
     background-color: whitesmoke;
     margin: 10px;
     padding: 10px;
     width: 80px;
     font-size: medium;





}

.resetwrap {
     background-color: whitesmoke;
     display: flex;
     justify-content: center;
}