*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    font-family: 'Poppins', sans-serif;
}
body{
     margin: 0;
     padding:  20px;
}


h3{
     color : red;
}

.pythagoras{
     padding : 5px;
     color: white;
     background : black;
     display : flex;
     justify-content : flex-start;
     align-items : center;
}



